body{
background:#0d1117;
color:#00ff9c;
font-family:monospace;
margin:0;
padding:0;
}

header{
text-align:center;
padding:40px;
border-bottom:1px solid #00ff9c;
}

section{
padding:40px;
max-width:900px;
margin:auto;
}

h1::after{
content:"_";
animation:blink 1s infinite;
}

@keyframes blink{
0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}

h2{
border-bottom:1px solid #00ff9c;
padding-bottom:10px;
}

.project{
border:1px solid #00ff9c;
padding:20px;
margin-top:20px;
}

a{
color:#00ff9c;
text-decoration:none;
}

a:hover{
text-decoration:underline;
}
